{% extends 'layouts/main.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {{ messages[0] }}. Please Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label>Please select one account you would like to create: </label>
                    <label style="display:inline-block; margin:0px; border: 0px 2px 0px 0px"><input type="radio" name="radio-accounts" value="3" class="checkbox-accounts" required>Venue</label>
                    <label style="display:inline-block; margin:0px; border: 0px 2px 0px 0px"><input type="radio" name="radio-accounts" value="4" class="checkbox-accounts" required>Artist</label>
                    
                    
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>

{% endblock %}
