{% extends 'layouts/main.html' %}

{% block title %}Confirmation{% endblock %}

{% block page_content %}
<p>Dear {{ user.username }},</p>
<p>Welcome to <b>Project</b>!</p>
<p>To confirm your account please <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
<p>Thank you</p>
<p><small>Note: replies to this email address are not monitored.</small></p>


{% endblock %}
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

